#invite-wrapper {
    width: 25%-75%;
    padding: 25px;
    background: linear-gradient(rgb(26, 125, 237), rgb(255, 255, 100));
    color: #000000;
}
#invite-wrapper h1 {
    font-family: 'Courier New', monospace;
    text-align: center;
}
#invite-wrapper p {
    width: 75%-90%;
    margin: auto;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.6;
}
#itinerary {
    text-align: center;
}